<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../edit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Comic Con Collectibles</title>
  </head>
  <body>
    <nav>
      <h1 id="store"><a href="/store">Comic-Con Collectibles!</a></h1>
      </nav>
    <div class="container">
      <h2>Edit your Collectible!</h2>
      <form class="edit" action="/store/<%=comic.id%>?_method=PUT" method="POST">

          <label for="name">Name: </label>
          <input type="text" name="name" value="<%=comic.name%>" id="name"><br/>

          <label for="img">Image: </label>
          <input type="text" name="img" value="<%=comic.img%>" id="img"><br/>

          <label for="price">Price: </label>
          <input type="number" name="price" value="<%=comic.price || 0 %>" min="0" step=".01"><br/>

          <label for="qty">Quantity: </label>
          <input type="number" name="qty" value="<%=comic.qty || 0 %>" min="0" id="qty"> <br/>

          <label for="description">Description: </label>
          <textarea name="description" value="" id="description"><%=comic.description%></textarea><br/>

          <input type="submit" name="submit" value="Submit Changes" class="edit-button">
        </form>
          <h5>Current image:</h5>
          <img src="<%= comic.img %>" alt="" />
    </div>
  </body>
</html>
